{
  "extends": ["@antfu"],
  "rules": {
    "yml/no-empty-document": "off",
    "react/no-unknown-property": "off",
    "no-console": "off",
    "no-mixed-operators": "off",
    "no-restricted-globals": "off",
    "unicorn/prefer-number-properties": "off",
    "n/prefer-global/process": "off"
  },
  "overrides": [
    {
      "files": [
        "playground/**/*.*",
        "examples/**/*.*",
        "test/fixtures/**/*.*"
      ],
      "rules": {
        "no-restricted-imports": "off"
      }
    },
    {
      "files": [
        "packages/gpt-runner-vscode/**/*.*"
      ],
      "rules": {
        "unicorn/prefer-node-protocol": "off"
      }
    },
    {
      "files": ["**/*.json"],
      "rules": {
        "eol-last": "off"
      }
    },
    {
      "files": ["website/**/*.*"],
      "rules": {
        "@typescript-eslint/no-require-imports": "off"
      }
    },
    {
      "files": [
        "**/*.md/*.*"
      ],
      "rules": {
        "no-restricted-imports": "off",
        "no-restricted-syntax": "off",
        "no-labels": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
