.cache
.DS_Store
.idea
.nuxt
.output
.temp
.gradle
.qodana
build
*.local
*.log
*.vsix
bench/source/gen*.js
coverage
dist
examples/**/pnpm-lock.yaml
node_modules
playground/.vscode
packages/gpt-runner/README.md
packages/gpt-runner-vscode/LICENSE
result.json
.svelte-kit
.eslintcache
vite.config.ts.timestamp-*
