.cache
.DS_Store
.idea
.nuxt
.output
.temp
.gradle
.qodana
build
*.local
*.log
*.vsix
bench/source/gen*.js
coverage
dist
examples/**/pnpm-lock.yaml
node_modules
playground/.vscode
result.json
.svelte-kit
.eslintcache
vite.config.ts.timestamp-*

website/.docusaurus
website/netlifyDeployPreview/*
website/changelog
!website/netlifyDeployPreview/index.html
!website/netlifyDeployPreview/_redirects
website/_dogfooding/_swizzle_theme_tests
website/i18n/**/*

.gpt-runner
packages/gpt-runner-web/client/public/monaco-editor-vs

# gpt-runner-intellij
packages/gpt-runner-intellij/src/main/resources/dist.zip
packages/gpt-runner-intellij/src/main/resources/gpt-runner-bundler.zip
