[build.environment]
  NODE_VERSION = "18"
  NODE_OPTIONS = "--max_old_space_size=4096"

[build]
  publish = "website/dist"
  command = "pnpm run deploy"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/play/*"
  to = "/play/index.html"
  status = 200

